dist: trusty
sudo: required

env:
  jobs:
  - TEST_TARGET: test-debian
  - TEST_TARGET: test-alpine
  - TEST_TARGET: test-mainline
  - TEST_TARGET: test-mainline-alpine

before_install:
  - sudo apt-get -y remove docker docker-engine docker-ce
  - sudo rm /etc/apt/sources.list.d/docker.list
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce
  - docker version
  - docker info
  # prepare docker test requirements
  - make update-dependencies

script:
  - make $TEST_TARGET

jobs:
  include:
    - stage: deploy
      if: branch = master
      script:
        - curl -X 'POST' ${DOCKER_CALLBACK_TRIGGER} > /dev/null 2>&1
