<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List</title>
</head>

<body>
  <ul>
    {{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}

    {{ $host := trim $host }}
    {{ $is_regexp := hasPrefix "~" $host }}
    {{ $upstream_name := when $is_regexp (sha1 $host) $host }}
    <li>
      <a target="_blank" href="http://{{ $host }}">{{ $host }}</a>
    </li>{{ end }}
  </ul>
</body>

</html>
