name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - 'LICENSE'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - '**.md'

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        base_docker_image: [alpine, debian]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python-requirements.txt
        working-directory: test/requirements

      - name: Build Docker web server image
        run: make build-webserver

      - name: Build Docker nginx proxy test image
        run: make build-nginx-proxy-test-${{ matrix.base_docker_image }}
        if: |
          ( github.event_name == 'push' && github.ref != 'refs/heads/dev' ) ||
          ( github.event_name == 'pull_request' && github.base_ref != 'dev' )

      - name: Build Docker nginx proxy dev test image
        run: make build-nginx-proxy-test-${{ matrix.base_docker_image }}-dev
        if: |
          ( github.event_name == 'push' && github.ref == 'refs/heads/dev' ) ||
          ( github.event_name == 'pull_request' && github.base_ref == 'dev' )

      - name: Run tests
        run: pytest
        working-directory: test
